<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>apps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>editor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>simulator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>test.base.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test.core.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>test.geometry.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test.io.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test.math.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>vox.base.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>vox.cloth.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>vox.core.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>vox.editor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>vox.force.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>vox.geometry.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>vox.io.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>vox.math.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>vox.render.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>vox.visual.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>042D8C0A2845FD02003EF95A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>042D8CBD28484C19003EF95A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04523DC2281BB0C30079CC3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04523E27281CC4920079CC3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047BB5CF2803A99E00CD5749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047BB5DE2803A9B700CD5749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B762072832279400FE2C5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3C2EA28339D9D00B0BE1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3C32D2833E39100B0BE1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3C3762833E4A300B0BE1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3C3A7283490D800B0BE1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3C40B2834922900B0BE1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3C4472835C88F00B0BE1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3C53D2835CC2200B0BE1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D5C475284DDC5F00D2706D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04DBB3732833132E00D94795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
