<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>apps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>arc.geometry.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>editor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test.geometry.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>test.math.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>vox.editor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>vox.math.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>vox.render.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04523DC2281BB0C30079CC3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04523E27281CC4920079CC3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047BB5CF2803A99E00CD5749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047BB5DE2803A9B700CD5749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B762072832279400FE2C5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3C2EA28339D9D00B0BE1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
